In [27]:
#Pregunté acerca de 'sets' al chat GPT y de como puedo manipularlos

s = set()
s = {1, 2, 3}

In [40]:
#Algunas de las herramientas que se pueden emplear en los 'sets' son el conteo de elementos 
#detro de ellos o verificar si un elemento está en el conjunto

len(s) #para contar cuantos elementos hay

3

In [29]:
5 in s #para verificar si un elemento pertenece al conjunto

False

In [30]:
#También es posible adicionar elementos a el conjunto
s.add(4)
s

{1, 2, 3, 4}

In [31]:
#Y eliminarlos
s.remove(4)
s

{1, 2, 3}

In [32]:
#Se puede establecer la unión de dos conjuntos
t = {3, 4, 5}
s.union(t)

{1, 2, 3, 4, 5}

In [33]:
#Como también la intersección 
s.intersection(t)

{3}

In [34]:
#y la diferencia
s.difference(t)

{1, 2}

In [35]:
#y la diferencia simétrica entre ellos
s.symmetric_difference(t)

{1, 2, 4, 5}

In [36]:
#Así como se puede adicionar un solo elemento al 'set', se puede hacer con varios a la 
s = {1, 2, 3}
s.update([4, 5, 6])
s

{1, 2, 3, 4, 5, 6}

In [37]:
#o también se puede hacer de la siguiente manera
s = {1, 2, 3}
s |= {4, 5, 6}
s

{1, 2, 3, 4, 5, 6}

In [38]:
#Los elementos de un conjunto pueden ser mezclados, es decir, pueden ser strings y números
s = {1, 2, "hello", "world"}
s

{1, 2, 'hello', 'world'}

In [ ]:
#Pregunté acerca de la posibilidad de tener un 'set' como elempento dentro de otro 'set'
#Yes, you can have a set as an element of another set in Python. However, you need to be careful when working 
#with nested sets, as sets are mutable and can be changed, which can lead to unexpected behavior. 
#Here's an example of a set that contains another set as an element:

>>> s = {1, 2, {3, 4}}
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unhashable type: 'set'

In [39]:
#As you can see from the error message, you cannot have a set as an element of another set because sets are mutable and therefore unhashable. 
#To work around this limitation, you can use a frozenset instead, which is an immutable version of a set:

s = {1, 2, frozenset({3, 4})}
s

{1, 2, frozenset({3, 4})}

In [ ]:
#Una vez introducido el concepto del 'frozenset', pregunté si estos se podían somenter a cambios debido a que también son conjuntos
#No, you cannot modify a frozenset once it has been created. Frozensets are immutable, which means that you cannot add, remove, 
#or change elements in a frozenset after it has been created. The main advantage of using a frozenset instead of a set is that you 
#can include a frozenset as an element of another set, because frozensets are hashable and therefore can be used as elements in sets. 
#Here's an example:

>>> s = {1, 2, frozenset({3, 4})}
>>> s
{1, 2, frozenset({3, 4})}

>>> # This will raise an error because frozensets are immutable
>>> frozenset({3, 4}).add(5)
AttributeError: 'frozenset' object has no attribute 'add'

In [41]:
#Acerca de más características de los frozenset:
#2) Hashable: A frozenset can be used as a key in dictionaries and as an element in sets, 
#because frozensets are hashable and therefore can be used as elements in sets.
s = frozenset({1, 2, 3})
d = {s: "frozenset"}
d

{frozenset({1, 2, 3}): 'frozenset'}

In [48]:
#3)Unordered: The elements of a frozenset are unordered, meaning that the order of the elements in the frozenset is not defined.
s = frozenset({1, 3, 2})
for element in s:
  print(element)

1
2
3

In [50]:
#4)Supports Set Operations: You can perform set operations such as union, intersection, difference, and symmetric difference 
#on frozensets, just as you can with sets.
s1 = frozenset({1, 2, 3})
s2 = frozenset({2, 3, 4})

s1 | s2 # Union

frozenset({1, 2, 3, 4})

In [51]:
s1 & s2 # Intersection

frozenset({2, 3})

In [52]:
s1 - s2 # Difference

frozenset({1})

In [53]:
s1 ^ s2 # Symmetric Difference

frozenset({1, 4})

In [54]:
#5)Supports Membership Testing: You can test whether an element is a member of a frozenset using the in operator.
s = frozenset({1, 2, 3})
2 in s

True

In [55]:
4 in s

False

In [56]:
#6)Supports Subset and Superset Testing: You can test whether a frozenset is a subset or superset of another frozenset using 
#the <= and >= operators, respectively.
s1 = frozenset({1, 2, 3})
s2 = frozenset({1, 2})

s2 <= s1 # s2 is a subset of s1

True

In [57]:
s1 >= s2 # s1 is a superset of s2

True